In [ ]:
#Baby steps Homework

In [1]:
print("Welcome to Assignment-1")

Welcome to Assignment-1

In [7]:
Num1=10
Num2=30
Add=Num1+Num2
print("Num1= ",Num1)
print("Num2= ",Num2)
print("Add= ",Add)

Num1=  10
Num2=  30
Add=  40

In [4]:
BMI=int(input("Enter the BMI Index: "))
if(BMI<18.5):
      print("Underweight ")
elif(BMI<24.9):
      print("Healthy weight")
elif(BMI<29.9):
      print("Overweight")
else:
      print("Very Overweight")

Enter the BMI Index:  34

Very Overweight

In [6]:
num1=10
num2=30
print("Num1=",num1)
print("Num2=",num2)
print("Add=",num1+num2)

Num1= 10
Num2= 30
Add= 40

In [ ]:
#Extra Assignment-1

In [ ]:
#print statement

In [9]:
print("HOPE AI")

HOPE AI

In [ ]:
#buy input

In [10]:
Name=input("Enter your institute name? : ")

Enter your institute name? :  Hope AI

In [ ]:
#buy inputs

In [11]:
Name=input("Enter your name: ")
Name=int(input("Enter your age : "))
Name=input("Enter your school name: ")
Name=input("Enter your degree : ")

Enter your name:  Raj
Enter your age :  15
Enter your school name:  Guru
Enter your degree :  B.E CSE

In [ ]:
#Addition

In [12]:
a=43
b=34
add=a+b
print("a= ", a)
print("b=", b)
print("add= ",add)

a=  43
b= 34
add=  77

In [ ]:
#subtraction

In [13]:
a=43
b=34
sub=a-b
print("a= ", a)
print("b=", b)
print("sub= ",sub)

a=  43
b= 34
sub=  9

In [ ]:
#multiplication

In [14]:
a=63
b=97
mul=a*b
print("a= ", a)
print("b=", b)
print("mul= ",mul)

a=  63
b= 97
mul=  6111

In [ ]:
#float division

In [15]:
a=76
b=31
div=a/b
print("a= ", a)
print("b=", b)
print("Float Div= ",div)

a=  76
b= 31
Float Div=  2.4516129032258065

In [ ]:
#floor division

In [16]:
a=76
b=31
div=a//b
print("a= ", a)
print("b=", b)
print("Floor Div= ",div)

a=  76
b= 31
Floor Div=  2

In [ ]:
#Modulo

In [17]:
a=76
b=31
mod=a%b
print("a= ", a)
print("b=", b)
print("Modulo= ",mod)

a=  76
b= 31
Modulo=  14

In [ ]:
#power

In [19]:
a=4
b=4
pow=a**b
print("a= ", a)
print("b=", b)
print("Power= ",pow)

a=  4
b= 4
Power=  256

In [ ]:
#Extra Assignment-2

In [ ]:
# print 0 to 20 by using range

In [20]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [21]:
# print range 10 to 20
for number in range(10,20):
    print(number, end=' ')

10 11 12 13 14 15 16 17 18 19

In [23]:
# Print number of items in the list by using 'len'
List2 = [10, 20, 14, 55, 43, 87, 76]
print("Number of item in the List2:")
print(len(List2))

Number of item in the List2:
7

In [25]:
Title = "Artificial Intelligence"
print(Title)
for chr in Title:
    print(chr)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [29]:
name = input("Enter your Name")
age = int(input("Enter your Age"))
prof = input("Enter your Profession")
print("-Your Name-", name)
print("-Your age-", age)
print("-Your Profession-",prof)

Enter your Name Mega
Enter your Age 44
Enter your Profession IT

-Your Name- Mega
-Your age- 44
-Your Profession- IT

In [31]:
# print multi datatypes us
tup = (1, 'Welcome', 2, 'Hope')
print(tup)

Enter your Name M
Enter your Age 3
Enter your Profession p

-Your Name- M
-Your age- 3
-Your Profession- p